*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.list-group .list-group-item{
  border: none;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}
.list-group u{
  padding: 0;
  margin: 0;
}