*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.list-group .list-group-item{
  border: none;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}

@media (max-width:600px){
  .container{
    width: 100%;
    
  }
 
  .container .list-group .list-group-item{
    border: none;
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: rgb(203, 203, 250);
   margin-bottom: 10px;
  
  }
 
}