*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.list-group .list-group-item{
  border: none;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}

@media (max-width:600px){
  .container{
    width: 100%;
    
  }
  .data{
    color: black;

  }
 
  .container .list-group .list-group-item{
    border: none;
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: rgb(251, 251, 252);
   margin-bottom: 10px;
   color: black;
  
  }
  .verde{
    color: rgb(23, 209, 107);
    font-weight: 800;
    font-size: 28px;
  }
  .vermelho{
    color: rgb(219, 16, 16);
    font-weight: 800;
    font-size: 28px;
  }
  .amarelo{
    color: rgb(221, 235, 25);
    font-weight: ;
    font-size: 28px;
  }
 
}